<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
		<link rel="icon" type="image/png" href="/user/images/logo-removebg-preview.png" sizes="32x32"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/user/fonts/font.css">

    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/user/css/login.css">

    <title>Login-woodQ</title>
  </head>
  <body>
  
    

  <!-- <div class="d-lg-flex half container-fluid">
     <div class="bg order-1 order-md-2 img-fluid" style="background-image: url('/user/images/bg_1.jpg');"></div> -->
    <!-- <div class="contents order-2 order-md-1"> --> 

     <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="p-3 p-lg-5 border bg-white">
                <div class="form-group">
                  <label for="c_country" class="text-black">Country <span class="text-danger">*</span></label>
                  <select id="c_country" class="form-control">
                    <option value="1">Select a country</option>    
                    <option value="2">bangladesh</option>    
                    <option value="3">Algeria</option>    
                    <option value="4">Afghanistan</option>    
                    <option value="5">Ghana</option>    
                    <option value="6">Albania</option>    
                    <option value="7">Bahrain</option>    
                    <option value="8">Colombia</option>    
                    <option value="9">Dominican Republic</option>    
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_companyname" class="text-black">Company Name </label>
                    <input type="text" class="form-control" id="c_companyname" name="c_companyname">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                  </div>
                </div>

                <div class="form-group mt-3">
                  <input type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                </div>

                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_state_country" class="text-black">State / Country <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_state_country" name="c_state_country">
                  </div>
                  <div class="col-md-6">
                    <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                  </div>
                </div>

                <div class="form-group row mb-5">
                  <div class="col-md-6">
                    <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                  </div>
                  <div class="col-md-6">
                    <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                  </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary-2">
                        <span>SAVE CHANGES</span>
                        <i class="icon-long-arrow-right"></i>
                    </button>
             </div>
        </div>
            
          </div>
        </div>
      </div>
    </div> 

    
  </div> 
    
    

  
    <script src="js/bootstrap.min.js"></script>

    
  </body>
</html>