<%-include('./layouts/profilehead.ejs')%>
<section>
    <div class="headerhny-title text-center mt-3 mb-3">
        <h3 style="font-weight: 600;" class="hny-title mb-0 p-1 ">Available Coupons</h3>
    </div>
</section>

<section>
    <div class="container ">
        <div class="row justify-content-center m-1 mb-5">
          
            <div class="col-md-8 col-sm-10 col-xl-6 mt-4">
                <div class="coupon-card">
                    <h3> off on all products<br>with Maximum order value of
                        </h3>
                    <di class="coupon-row">
                        <span class="cpnCode" ></span>
                        <span class="cpnBtn" >Copy Code</span>
                    </di>
                    <p>Valid Till: </p>
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                </div>
            </div>
           
        </div>
    </div>
</section>
