<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
		<link rel="icon" type="image/png" href="/user/images/logo-removebg-preview.png" sizes="32x32"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/user/fonts/font.css">

    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/user/css/login.css">

    <title>Login-woodQ</title>
  </head>
  <body>
  
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Login to <strong>WoodQ</strong></h3>
            <p class="mb-4"> Reset password .</p>
            <form action="" method="post">
            <div class="form-group">
                <label for="">Reset Password</label>
                <p style="color: rgb(255, 35, 35);" ><%=locals.wrong%></p>
                <input name="email" type="email" class="form-control" id="email"  required=""   >
       
            </div> 
              
              <input type="submit" value="submit" class="btn btn-block btn-primary">
             
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>
