<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Item - Start Bootstrap Template</title>
        <!-- Favicon-->
        
        
        <!-- Bootstrap CSS -->
		 <link href="/user/css/home/bootstrap.min.css" rel="stylesheet">  
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
		
		<link href="/user/css/home/style.css" rel="stylesheet">
        <!-- Bootstrap icons-->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" /> -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/user/css/home/view.css" rel="stylesheet" />
		<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script> 
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="/user/js/ajax.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<style>
            figure.zoom {
    background-position: 50% 50%;
    position: relative;
    width: 450px;
    overflow: hidden;
    cursor: zoom-in;
  }
  figure.zoom img:hover {
    opacity: 0;
  }
  figure.zoom img {
    transition: opacity .5s;
    display: block;
    width: 100%;
  }
  .heart{
	border: none;
    background-color: white;
  }
        </style>
    </head>
    <body>
        <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark" arial-label="Furni navigation bar">

			<div class="container">
				<div class="d-flex">
					<div>
						<a class="navbar-brand" href="/"><img  class="img-fluid" id="logo" src="/user/images/logo-removebg-preview.png">WoodQ<span>.</span></a>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
				

				

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					
						<li class="nav-item ">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="active"><a class="nav-link" href="/shop">Shop</a></li>
						<li><a class="nav-link" href="/about">About</a></li>
						
						 
						<li><a class="nav-link" href="/service">Services</a></li>
						<li><a class="nav-link" href="/contact">Contact</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link " href="/profile"><img src="/user/images/user.svg"></a></li>
						<li><a class="nav-link fs-5" style="color: aliceblue; position: absolute; margin-left: 58px;" href="/wishlist"><i class="fa fa-heart"></i><span class="badge badge-light " id="count-id" ></span>
							<!-- <%if(find>0){%>
							<%=locals.find%>
							<%}%> -->
						</span> </a></li>
						<li>
        
                         <a class="nav-link " href="/cart"><img src="/user/images/cart.svg">
							<span class="badge badge-light 
							" id="count-id">
								<%if(count>0){%>
									<%=locals.count%>
									<%}%>
								</span></a>
                        </li>
                           
                       
					</ul>
				</div>
			</div>
				
		</nav>